<template>
  <div class="home container">
    <form @submit.prevent="addList" class="list-form">
        <label for="list-name">Enter grocery list name</label>
        <input class="list-name__text" v-model="newList" name="list-name" type="text" placeholder="Titel of new list ..." required>
        <input @click="addList" class="list-name__button" name="submit-button" type="button" value="Create"> 
    </form>
    <GroceryList :key="list.id"  v-for="(list, index) in lists" :title="list.title" :id="index"/>
  </div>
</template>

<script>
// @ is an alias to /src
import GroceryList from '@/components/GroceryList.vue'

export default {
  name: 'home',
  components: {
    GroceryList
  },
  data() { 
    return { 
      newList: '',
      keyForNextList: 1,
      lists: []
    }
  },
  methods: {
    addList() {
      if(this.newList.trim().length == 0) {
        return
      }
          this.lists.push({
            id: this.keyForNextList,
            title: this.newList,
          })

          this.newList = '' 
          this.keyForNextList++
      }
  }
}
</script>
