<template>
  <div class="grocery-list shadow">
    <h2>{{ title }}</h2>
    <button @click="removeList" class="list-item__button list-item__button--list">Delete</button>
     <form @submit.prevent="addItem" class="list-form list-form--list-item">
        <input v-model="newItem" class="list-name__text list-name__text--list-item" name="list-name" type="text" placeholder="New list item ..." required>
        <input @click="addItem" class="list-name__button list-name__button--list-item" name="submit-button" type="button" value="+"> 
      </form>
     <ul>
        <ListItem :key="item.id"  v-for="(item, index) in items" :titleItem="item.title" :id="index"/>
    </ul>
  </div>
</template>

<script>
// @ is an alias to /src
import ListItem from '@/components/ListItem.vue'

export default {
  name: 'GroceryList',
  components: {
    ListItem
  }, 
  data() { 
    return { 
      newItem: '',
      keyForNextItem: 0,
      items: []
    }
  },
  props: ['title', 'id'],
  methods: {
    addItem() {
      if(this.newItem.trim().length == 0) {
        return
      }
          this.items.push({
            id: this.keyForNextItem,
            title: this.newItem,
            quantity: 0,
            completed: false,
          })

          this.newItem = '' 
          this.keyForNextItem++
    },
    removeList() {
      this.$parent.lists.splice(this.id, 1);
    }  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

.grocery-list {
    position: relative;
    width: 26rem;
    min-height: 4rem;
    float: left;
    padding: .5rem 2rem 1rem 2rem;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 2rem;
 }
 
.grocery-list:not(:last-of-type) { 
    margin-right: 1.5rem; 
 } 

.shadow {
   -webkit-box-shadow: 3px 3px 17px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 17px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:        3px 3px 17px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.list-form--list-item {
  height: 48px;
  margin-bottom: 2rem;
} 

.list-name__text--list-item { 
  width: 80%;
  margin-top: 0;
  margin-bottom: .5rem;
}

.list-name__button--list-item {
  box-sizing: content-box;
  height: 32px;
  padding: 1px .5rem 10px .5rem;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 8px;
} 

ul { 
    list-style: none;
    margin-top: 1rem; 
    padding: 0;
}

</style>
