<template>
  <div class="list-item">
    <input type="checkbox" class="list-item__done" @click="toggleCheck">
    <input :class="{checked: isChecked}" type="number" class="list-item__quantity" value="0" @input="updateQuantity" min="0">
    <p :class="{checked: isChecked}" class="list-item__item-title">{{ titleItem }}</p>
    <button @click="moveUp" class="list-item__button arrow arrow--up"></button>
    <button @click="moveDown" class="list-item__button arrow arrow--down"></button>
    <button @click="removeItem" class="list-item__button">Delete</button>
  </div>
</template>

<script>
export default {
  name: 'ListItem',
  props: ['titleItem','id'],
  data() {
    return {
      isChecked: false
    }
  },
  methods: {
    removeItem() {
       this.$parent.items.splice(this.id, 1);
    },
    updateQuantity(e) {
      this.$parent.items[this.id].quantity = e.target.key
    },
    toggleCheck() {  
      this.$parent.items[this.id].completed = !this.isChecked
      this.isChecked = !this.isChecked;
      if(this.isChecked == true) {
        var itemToReplace = this.$parent.items.splice(this.id, 1); // 0 is the item index, 1 is the count of items you want to remove.
        this.$parent.items = this.$parent.items.concat(itemToReplace);
      }
    },
    moveUp() {
       this.$parent.items = moveElementInArray(this.$parent.items, this.id, -1);  
    },
    moveDown() {
      this.$parent.items = moveElementInArray(this.$parent.items, this.id, 1);  
    },

  }
}

function moveElementInArray (array, key, positionChange) {
  var oldIndex = key;
  var val = array[key];

  if (oldIndex > -1){
    var newIndex = (oldIndex + positionChange);
 
    if (newIndex < 0){
      newIndex = 0
    }else if (newIndex >= array.length){
      newIndex = array.length
    }
 
    var arrayClone = array.slice();
    arrayClone.splice(oldIndex,1);
    arrayClone.splice(newIndex,0,val);
 
    return arrayClone
  }
  return array
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.list-item { 
    position: relative;
    padding: .5rem; 
    border: 2px solid #aba9a93b;
    border-radius: 5px;
    margin-bottom: 4px; 
 }
    .list-item__done {
      position: absolute;
      top: 50%;
      height: auto;
      margin: 0 .5rem;
      transform: translateY(-50%);
    }

    .list-item__item-title {
      position: relative;
      left: 5.75rem;
      display: inline-block;
      width: 65%;
    }

    .list-item__quantity { 
      display: block;
      position: absolute;
      top: 50%;
      left: 2.4rem;
      transform: translateY(-50%);
      max-width: 2.5rem;
      height: 1.65rem;
      float: none;
      font-size: 1rem;
      margin: 0;
      padding: 3px;
      text-align: center;
      border-radius: 5px;
     }

     .list-item__button {
       position: absolute;
       right: 3px;
       top: 6px;
       outline: none;
       border: none;
       color: #42b983;
       font-size: .8rem;
       cursor: pointer;
     }
     .list-item__button--list {
        font-size: 1rem;
        font-weight: 600;
     } 

      .list-item__button:hover {
        color: #b78d0d;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
      }
    .checked {
      color: darkgray;
      text-decoration: line-through;
    } 

  .arrow {
  position: absolute;
  height: .75rem;
  width:  .75rem;
  right: 20px;
  padding: 0;
  border-style: solid;
  border-color: #42b983;
  transform: rotate(45deg);
  transition: border-width 135ms ease-in-out;
}

.arrow--up {
  top: 2.1rem; 
  border-width: 1px 0 0 1px;

}

.arrow--down {
  top: 2.8rem; 
  border-width: 0px 1px 1px 0px;

}

.arrow--down:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.arrow--up:hover {
  border-top-width: 3px;
  border-left-width: 3px;
}

</style>