<template>
  <div id="app">
    <div class="container">
      <img id="logo" alt="Vue logo" src="@/assets/logo.png">
      <h1 id="app-title">Grocery list App</h1>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 2rem;
}

#logo {
  width: 85px;
  height: auto;
  display: inline-block;
  position: relative;
  top: 30px;
} 

#app-title { 
display: inline-block;
}

h1 { color: #42b983; }

label { 
  display: block;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  margin-top: 3.5rem;
 }

 .container {
    width: 1120px;
    margin: 0 auto; 
    margin-bottom: 4rem;
 } 
 @media only screen and (max-width: 600px) {
    .container {
         width: 500px;
    }
}


 input { 
  float: left;
   height: 2rem;
   outline: none;
   font-size: 20px;
   color: #2c3e50;
   padding-left: .5rem;
   margin-top: .7rem;
} 
.list-name__button {
  height: 2rem;
  border: none;
  cursor: pointer;
  color: #42b983;
  font-weight: 500;
  letter-spacing: .5px;
} 
.list-name__button:hover { 
  color: #b78d0d; 
  transition: all .3s linear;
 }

.list-name__text {
  width: 300px;
  border: none;
  padding-bottom: 4px; 
  border-bottom: 3px solid #e3ae0f;
} 
.list-form {
  margin-bottom: 3.5rem;
  height: 84px;
}
</style>
